/* hero */
.hero {
	
	background: #000; 
	position: relative;
	
	&:before {
		position: absolute;
		top:0; left:0; right:0;
		height: $navTopHeight + $navHeight;
		background: #fff;
		content:"";
	}
	
	.big-fader {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
	}
	
	.slick-list { height: 100%; }
	
	.fader-item,
	.slick-track {
		height: 100%;
	}
	
	.fader-item {
		position: relative;
		background-color: #000;
		@include display( flex );
	}
	
	.fader-item-bg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: #000;
		background-position: center;
		background-size: cover;
	}
	
}

@media screen and (max-height: 600px) {
	.hero .with-content {
		.big-fader {
			height: auto;
			max-height: none;
		}
	}
}

.hero-caption {
	position: absolute;
	color: #fff;
	text-align: center;
	bottom:0; left:0; right:0;
	padding: 30px;
	background: rgba($darkestBlueColor,0.9);
	
	.title { 
		display: block;
		font-size: 32px; 
	}
	
	.subtitle { 
		display: block;
		font-size: 24px;
		color: #c8c8c8; 
	}
	
	p { 
		max-width: 700px;
		margin: 20px auto 0;
		font-size: 18px; 
	}
	
	@media screen and (max-width: 900px) {
		.subtitle,
		p { display: none; }
	}
	
}

@media screen and (max-width: 600px) {
	.hero .big-fader { min-height: 350px; }
	.hero-caption { 
		padding: 20px 0; 
		.title { font-size: 24px; }
	}
	
}

.hero-content-wrap {
	@include align-self( flex-end );
}

.hero-content {
	width: 700px;
	max-width: 100%;
	padding: 40px 0;
	
	.title { text-transform: uppercase; }
	
	p { font-size: 20px; }
}

@media screen and (max-width: 700px) {

	.hero.with-content {
		.big-fader { height: auto; max-height: none; }
		.fader-item { display:block; }
		
		.fader-item-bg {
			position: static;
			height: 100vh;
		}
	}

	.hero-content-wrap { 
		background: #fff; 
		max-width: 100%;
	}
	
	.hero-content {
		max-width: 95%;
		margin: 0 auto;
	}
}