.grey-bg { background: #dbe7f1; }
.blue-bg { background: $blueColor; }

$mwSizes: (75,50,25);
[class*=mw] { margin-left: auto; margin-right: auto; }
@each $mw in $mwSizes {
	.mw-#{$mw} { 
		max-width: #{$mw} + '%'; 
	}
}

.small-wrap {
	width: 900px;
	margin: 0 auto;
	max-width: 100%;
}

.bordered { border: 1px solid #e8e8e8; }

.page-wrapper { border: 1px solid transparent; }

.hero {
	background: #fff;
	.big-fader  {
		padding-top: $navTopHeight+$navHeight;
		
		@media screen and (max-width: $collapseNavAt) {
			& { padding-top: 50px;}
		}
		
	}
	
}

.fader-wrap {
	position:relative;
}

.fader { margin-bottom:0; }

.fader-item {

	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

.ov-blocks {
	.col { 
		width: 50%; 
		
		@media screen and (max-width: 900px) {
			& { width: 100%; }
		}
		
	}
}

.ov-item {
	height:0; 
	position: relative;
	padding: 0 0 52.5%;
	text-align:center;
	overflow:hidden;
}

.ov-bgimage {
	opacity:0.14 !important;
	
	&,
	.lazybg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
	
}

.ov-content-wrap {
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	@include display( flex );
}

.ov-content {
	margin: auto;
	
	.hgroup {
		max-width: 320px;
	}
	
	@media screen and (max-width: 600px) {
		.hgroup-subtitle { display: none; }
	}

}

/* search page */
.search-grid {
	.col { 
		width: 25%; 
		@media screen and (max-width: 1100px) { width: 33.3333%; }
		@media screen and (max-width: 800px) { width: 50%; }
		@media screen and (max-width: 600px) { width: 100%; }
	}
	.item {
		background: #f5f5f5;
		padding: 20px 20px 80px;
		position: relative;
	}
	
	.button {
		position: absolute;
		bottom:20px; left:20px;
	}
	
	.hgroup { text-align: center; }
	
	.hgroup-title { 
		font-size: 18px; 
		&:after { background: $bodyContentColor; }
	}
	.hgroup-subtitle { font-size: 14px; }
	
}

/* sidebar */
.sidebar-mod { 
	margin: 0 0 20px;
	
	.button.block { margin: 10px 0 0; }
}

.mod-links {
	a {
		display: block;
		padding: 8px 14px;
		text-transform: uppercase;
		color: #fff;
		background: $blueColor;
		border-left: 5px solid transparent;
		
		&.selected {border-color: $darkBlueColor; }
		
		&:hover { background: $darkBlueColor; }
	}
}

.mod-images {
	.lazybg { 
		margin: 0 0 10px; 
		text-align: center;
	}
}

/* half-section */
.half-section {
	.body & { padding:0; }
	position: relative;
	overflow:hidden;
	
	.article-body {
		max-width: $wrapperWidth/2;
		padding: 70px 30px;
	}

	.lazybg {
		position: absolute; 
		top:0; bottom:0;
		width: 50%;
	}

	&:nth-child(odd),
	&.left-half {
		padding-right: 50%;
		.lazybg { right:0; }
		
		.article-body { 
			padding-left:10px; 
			float: right;
		}
	}
	
	&:nth-child(even),
	&.right-half {
		padding-left: 50%;
		.lazybg { left: 0; }
		
		.article-body { padding-right:10px; }
	}
	
	@media screen and (max-width: 750px) {
		
		& { padding:0 !important }
		& + .half-section { border-top: 1px solid #fff; }
		
		.article-body {
			position: relative;
			z-index: 2;
			max-width:none;
			padding: 20px !important;
			float: none !important;
		}
		
		.lazybg { display: none; }
	}

}

/* contact page */
.contact-wrap {
	@include display( flex );
}

.contact-address {
	@include flex( 0 0 auto );
	margin: 0 40px 20px 0;
}

.contact-form {
	@include flex( 1 1 auto );
}

@media screen and (max-width: 650px) {
	.contact-wrap { display: block; }
}

.embedded-gmap-wrap {
	@include display( flex );
	background: #000;
	position: relative;
	border: 1px solid #fff;
}

.embedded-gmap {
	&,
	& iframe {
		position: absolute; 
		left:0; right:0; top:0; bottom:0; 
		width: 100%; height: 100%; 
	}
}

@media screen and (max-width: 1000px) {
	.embedded-gmap {
		position: relative;
		height:0;
		padding: 0 0 56.25%;
	}
}

/* team member */
.tm-wrap {
	border-radius: 50%;
	display:block;
	margin: 0 auto 10px;
	overflow:hidden;
	@include perspective( 1px );
	
	&.sm { width: 150px; }
	
	.tm {
		height:0;
		padding:0 0 100%;
	}
}

.tm-name { display:block; }
.tm-title {
	display: block;
	font-style: italic;
	margin: 0 0 10px;
}